@model UCABPagaloTodoWeb.Models.CampoModel

@{
    ViewData["Title"] = "ActualizarCampo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-8">

                    <h2 class="card-title text-center mb-5">Configuración de Pago del Servicio</h2>

                    <form asp-controller="Campo" asp-action="Actualizar" method="post">

                        <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                   
                            <div class="campo">
                                <div class="row mb-3">
                                    <div class="col-lg-3">
                                        <label class="col-form-label">Nombre del Campo:</label>
                                        <input type="text" required class="form-control"  name="NombreCampo" value="@Model.NombreCampo">
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label class="col-form-label">Tipo:</label>
                                                <select class="form-control" name="Tipo" value="@Model.Tipo" readonly>
                                                <option value="@Model.Tipo"> @Model.NombreCampo</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-2">
                                                <label class="col-form-label">Longitud:</label>
                                                <input type="number" required min="0" class="form-control" name="Longitud" value="@Model.Longitud" >
                                            </div>
                                            <div class="col-lg-2">
                                                <label class="col-form-label">Requerido:</label>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" name="Requerido" value="true" checked >
                                                    <label class="form-check-label">Sí</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" name="Requerido" value="false">
                                                    <label class="form-check-label">No</label>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>                   
                        <br />
                        @*Id del servicio para poder retornar a la vista donde están las configuraciones del servicio*@
                        @*<input type="hidden" name="ServicioPrestadoId" value="@Model.ServicioPrestadoId" />*@

                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary btn-lg w-100">Actualizar Campo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega la hoja de estilos de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/DataTables-1.13.4/css/jquery.dataTables.min.css" />

<!-- Agrega la biblioteca de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/DataTables-1.13.4/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
