@model UCABPagaloTodoWeb.Models.ServicioModel

@{
    ViewData["Title"] = "MostrarServicioPagos";
}
<div class="container">

   
    <br />
    <br />
    <br />
    <br />
    <h1>Gestión Servicios Asociados</h1>
    <br />

    <!-- INICIO DE TABLA DE DATOS -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">COSTO</th>
                <th scope="col">DISPONIBILIDAD</th>
                <th scope="col">TIPO PAGO</th>
                <th scope="col"></th>
                <th scope="col">OPCIONES</th>
                <th scope="col"></th>



            </tr>
        </thead>
        @if (Model == null)
        {
            <tr>
                <h2>
                    No se encuentra el Servicio.
                </h2>
            </tr>
        }
        else
        {
            @if (Model == null)
            {
                <tr>
                    <h2>
                        El Servicio no ha recibido ningun Pago.
                    </h2>
                </tr>
            }
            else
            {
                  <tr>
                        <td>
                            @Html.DisplayFor(i => @Model.Nombre)
                        </td>
                        <td>
                        @Html.DisplayFor(i => @Model.Costo) $
                        </td>
                        <td>
                        @if (@Model.EstadoServicio == "pronto")
                            {
                                <span>Proximamente</span>
                            }
                            else
                            {
                            @Html.DisplayFor(i => @Model.EstadoServicio)
                            }

                        </td>
                        <td>
                        @if (@Model.TipoPago)
                            {
                                <span>Por Confirmación</span>
                            }
                            else
                            {
                                <span>Directo</span>
                            }
                        </td>
                        <td>
                            <div class="col-md-6">
                            <form class="mx-1 mx-md-4" asp-controller="Servicio" asp-action="ConsultarServicioPorID" asp-route-id="@Model.Id" method="get">
                                    <input type="hidden" name="tipo" value="1" />
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-sm">
                                            Información
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </td>

                    <td>
                        <div class="col-md-6">
                            <form class="mx-1 mx-md-4" asp-controller="Campo" asp-action="interfazRegistrar" asp-route-id="@Model.Id" method="get">
                                <input type="hidden" name="ConfiguracionPagoId" value="@Model.ConfiguracionPagoId" />

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">
                                        Agregar Campo
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>

                    <td>
                        <div class="col-md-6">
                            <form class="mx-1 mx-md-4" asp-controller="ArchivoDeuda" asp-action="InterfazRegistrar" asp-route-id="@Model.Id">
                                <input type="hidden" name="ServicioPrestadoId" value="@Model.Id" />

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">
                                        Subir Archivo Deuda
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>
                                       
                    </tr>
                }
            }
    </table>
    <br />
    <br />
    <h1>Configuración de Pago</h1>
    <br />
    <br />
    <table class="table" id="tabla-configuracionPago">
        @if (Model.CamposConfiguracion == null)
        {
            <tr>
                <h2>
                    El servicio no posee Configuracion de Pago.
                </h2>
            </tr>
        }
        else
        {
           <thead>
               <tr>
                    <th scope="col">NOMBRE CAMPO </th>
                    <th scope="col">TIPO</th>
                    <th scope="col">LONGITUD MÁXIMA</th>
                    <th scope="col">REQUERIDO</th>                             
                    <th scope="col">OPCIONES</th>                             
               </tr>
           </thead>
           <tbody>
               @foreach (var campo in Model.CamposConfiguracion)
                {
                  <tr>
                        <td>
                            @Html.DisplayFor(i => campo.NombreCampo)
                        </td>
                        <td>
                            @Html.DisplayFor(i => campo.Tipo)
                        </td> 
                        <td>
                            @Html.DisplayFor(i => campo.Longitud)
                        </td>
                        <td>
                            @if (campo.Requerido)
                            {
                                <span>Si</span>
                            }
                            else
                            {
                                <span>No</span>
                            }

                        </td>
                        
                       @if (ViewContext.HttpContext.Request.Cookies["Token"] != null &&
                       ViewContext.HttpContext.Request.Cookies["TokenRole"] == "ADMINISTRADOR")
                        {                      
                            <td>
                                <div class="col-md-6">
                                    <form class="mx-1 mx-md-4" asp-controller="Campo" asp-action="ConsultarCampoPorID" asp-route-id="@campo.Id" method="get">
                                        <input type="hidden" name="tipo" value="2" />
                                        <input type="hidden" name="ServicioPrestadoId" value="@Model.Id" />
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-warning" btn-sm">
                                                Editar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </td>

                            <td>
                                <div class="col-md-6">
                                    <form class="mx-1 mx-md-4" asp-controller="Campo" asp-action="EliminarCampo" asp-route-id="@campo.Id" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="Id" value="@campo.Id" />
                                            <button type="submit" class="btn btn-danger eliminar-campo delete-user btn-sm">
                                                Eliminar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        }
                  </tr>
               }
           </tbody>
        }
    </table>
    <br />
    <br />
    <br />
</div>

<!-- Agrega la hoja de estilos de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/DataTables-1.13.4/css/jquery.dataTables.min.css" />

<!-- Agrega la biblioteca de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/DataTables-1.13.4/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#tabla-configuracionPago').DataTable({
                searching: true,
                ordering: true,
                paging: true,
                language: {
                    search: "Filtrar registros:",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "No se encontraron registros",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de _MAX_ registros totales)"
                }
            });

            $('#filter-form').submit(function (event) {
                event.preventDefault();
                var startDate = $('#start-date').val();
                var endDate = $('#end-date').val();
                $('#tabla-pagos').DataTable().columns(4).search(startDate + ' to ' + endDate).draw();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Función para mostrar el cuadro de diálogo de confirmación
            function confirmDelete() {
                return confirm("¿Estás seguro de que deseas eliminar el campo?");
            }

            // Escuchar el evento click en los botones de eliminar
            $('.eliminar-campo').click(function (e) {
                // Prevenir la acción predeterminada del botón
                e.preventDefault();
                // Mostrar el cuadro de diálogo de confirmación
                if (confirmDelete()) {
                    // Si la respuesta es sí, enviar el formulario para eliminar el campo
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
}

